*{
    padding: 0;
    margin: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Grape Nuts', cursive; */
    text-decoration: none;
    list-style: none;
    font-size: x-large;
}

